---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ restore_sealed_secrets_key_namespace }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ restore_sealed_secrets_key_secret_name }}
  namespace: {{ restore_sealed_secrets_key_namespace }}
  labels:
    sealedsecrets.bitnami.com/sealed-secrets-key: active
type: kubernetes.io/tls
data:
  tls.crt: {{ lookup('ansible.builtin.file', restore_sealed_secrets_key_tls_crt_path, rstrip=false) | b64encode }}
  tls.key: {{ restore_sealed_secrets_key_tls_key | b64encode }}
