apiVersion: v1
kind: Namespace
metadata:
  name: {{ restore_sealed_secrets_key_namespace }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ item.metadata.name }}
  namespace: {{ restore_sealed_secrets_key_namespace }}
  labels:
    sealedsecrets.bitnami.com/sealed-secrets-key: active
type: kubernetes.io/tls
data:
  tls.crt: {{ item.data['tls.crt'] }}
  tls.key: {{ item.data['tls.key'] }}
