---
clusterName: public-cluster
talosVersion: v1.11.0
kubernetesVersion: v1.33.2
endpoint: https://91.99.254.186:6443
domain: cluster.local
allowSchedulingOnMasters: true
clusterPodNets:
  - 10.244.0.0/16
clusterSvcNets:
  - 10.96.0.0/12

nodes:
  - hostname: control-plane-1
    installDisk: "/dev/sda"
    ipAddress: 91.99.254.186
    controlPlane: true

    networkInterfaces:
      - interface: eth0
        dhcp: false
        addresses:
          - 91.99.254.186/29
        routes:
          - network: 0.0.0.0/0
            gateway: 91.99.254.185

controlPlane: &controlPlaneTemplate
  schematic:
    customization:
      systemExtensions:
        officialExtensions:
          - siderolabs/iscsi-tools
          - siderolabs/util-linux-tools
          - siderolabs/qemu-guest-agent
  patches:
    - "@./patches/longhorn.yaml"
    - "@./patches/load-balancer.yaml"
    - "@./patches/rotate-server-certificates.yaml"
    - "@./patches/metrics-server.yaml"

worker: *controlPlaneTemplate
