apiVersion: v1
kind: ConfigMap
metadata:
  name: stalwart-config
  namespace: stalwart-system
data:
  config.toml: |
    # [authentication.fallback-admin]
    # user = "%{env:ADMIN_USERNAME}%"
    # secret = "%{env:ADMIN_SECRET}%"
    
    # [server.proxy]
    # trusted-networks = ["10.57.0.0/16", "::1", "10.58.0.0/16"]
    
    [http]
    hsts = true
    permissive-cors = false
    url = "protocol + '://' + config_get('server.hostname') + ':' + local_port"
    use-x-forwarded = true
    
    [server.listener."http"]
    bind = ["[::]:80"]
    protocol = "http"
    
    [server.listener."https"]
    bind = ["[::]:443"]
    protocol = "http"
    tls.implicit = true
    
    [server.listener."imap"]
    bind = ["[::]:143"]
    protocol = "imap"
    
    [server.listener."imaptls"]
    bind = ["[::]:993"]
    protocol = "imap"
    tls.implicit = true
    
    [server.listener."pop3"]
    bind = ["[::]:110"]
    protocol = "pop3"
    
    [server.listener."pop3s"]
    bind = ["[::]:995"]
    protocol = "pop3"
    tls.implicit = true
    
    [server.listener."sieve"]
    bind = ["[::]:4190"]
    protocol = "managesieve"
    
    [server.listener."smtp"]
    bind = ["[::]:25"]
    protocol = "smtp"
    
    [server.listener."submission"]
    bind = ["[::]:587"]
    protocol = "smtp"
    
    [server.listener."submissions"]
    bind = ["[::]:465"]
    protocol = "smtp"
    tls.implicit = true
    
    [server]
    hostname = "mail.winetree94.com"
    max-connections = 8192
    socket.backlog = 1024
    socket.nodelay = true
    socket.reuse-addr = true
    socket.reuse-port = true
    allowed-ip = { "10.57.0.0/16", "10.58.0.0/16" }
    
    [store."postgresql"]
    type = "postgresql"
    host = "stalwart-database-cluster-rw.stalwart-system.svc.cluster.local"
    port = 5432
    database = "stalwart"
    user = "stalwart"
    password = "%{env:DATABASE_PASSWORD}%"
    timeout = "15s"
    
    [store."postgresql".tls]
    enable = false
    allow-invalid-certs = false
    
    [store."postgresql".pool]
    max-connections = 10
    
    [store."hetzner-object-storage"]
    type = "s3"
    bucket = "tinyrack-stalwart"
    region = "hetzner"
    access-key = "%{env:AWS_ACCESS_KEY_ID}%"
    secret-key = "%{env:AWS_SECRET_ACCESS_KEY}%"
    endpoint = "https://nbg1.your-objectstorage.com"
    timeout = "30s"
    key-prefix = "stalwart/"
    compression = "lz4"
    
    [store."hetzner-object-storage".purge]
    frequency = "30 5 *"
    
    [storage]
    data = "postgresql"
    fts = "postgresql"
    blob = "hetzner-object-storage"
    lookup = "postgresql"
    directory = "internal"
    
    [directory."internal"]
    type = "internal"
    store = "postgresql"
    
    [tracer]
    log.ansi = false
    log.enable = true
    log.level = "info"
    log.path = "/opt/stalwart/logs"
    log.prefix = "stalwart.log"
    log.rotate = "daily"
    log.type = "log"
    
    [tracer."stdout"]
    type = "stdout"
    level = "info"
    ansi = false
    enable = true
    
    [queue.route."local"]
    type = "local"
    
    [queue.route."mx"]
    type = "mx"
    ip-lookup = "ipv4_then_ipv6"
    
    [queue.route."smtp2go"]
    type = "relay"
    address = "mail.smtp2go.com"
    port = 587
    protocol = "smtp"
    
    [queue.route."smtp2go".tls]
    implicit = false
    allow-invalid-certs = false
    
    [queue.route."smtp2go".auth]
    username = "%{env:SMTP2GO_USERNAME}%"
    secret = "%{env:SMTP2GO_PASSWORD}%"
    
    [queue.strategy]
    route = [ { if = "is_local_domain('', rcpt_domain)", then = "'local'" }, { else = "'smtp2go'" } ]
