[defaults]
inventory = ./inventories/production/hosts.yml
roles_path = ./roles_galaxy:./roles
collections_path = ./collections
vault_password_file = .vault_pass
interpreter_python = auto_silent
retry_files_enabled = false

[privilege_escalation]
become = true
become_method = sudo
